:root {
    --theme-bg-color: #008b8baa;
    --theme-text-color: #d7a70bdc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        "header header"
        "side main"
        "footer footer"
    ;
    height: 100vh;
    /* border: 5px solid red; */

}

/* header  */
header {
    border: 2px solid red;
    background: darkcyan;
    grid-area: header;
}

/* aside */
aside {
    border: 2px solid;
    /* background: darkgoldenrod; */
    grid-area: side;
}

aside>ul>li {
    padding: 10px 5px;
    background: darkgray;
    margin: 5px 0;

}

/* main */

main {
    border: 2px solid blue;
    background: darkkhaki;
    grid-area: main;
    overflow: auto;
}

/* footer */

footer {
    border: 2px solid pink;
    background: darkolivegreen;
    grid-area: footer;
}

/* media query width 500px */

@media screen and (max-width:500px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto auto 50px;
        grid-template-areas:
            "header"
            "side"
            "main"
            "footer"
        ;
        height: 100vh; 
    }

    aside {
    border: 2px solid;
    /* background: darkgoldenrod; */
    display: none;
}
}